---
layout: default
title : Homepage
navbar_title: Home
---

<div class="row">
    <div class="col-lg-3 col-md-4">
        {% include widgets/profile_card_mini.html %}
    </div>
    <div class="col-lg-9 col-md-8">

        <div id="about" class="section-anchor">
            {% include widgets/profile_card_bio_only.html %}
        </div>

        <!-- Debugging widgets -->
        {% include widgets/debug_repo_name.html %}
        {% include widgets/debug_url.html %}

        {% if site.data.display.homepage.show_experience %}
            {% include widgets/experience_card.html %}
        {% endif %}

        {% if site.data.display.homepage.show_news %}
        {% assign count_news = site.news | size %}
        {% if count_news > 0 %}
        <div id="news" class="section-anchor">
            {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
        </div>
        {% endif %}
        {% endif %}

        {% if site.data.display.homepage.show_selected_publications %}
        {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
        <div id="publications" class="section-anchor">
            {%
            include widgets/publication_card.html
            publications=pubs
            title='<i class="fas fa-star"></i> Publications'
            %}
        </div>
        {% endif %}

        {% if site.data.display.homepage.show_projects %}
            <div id="projects" class="section-anchor">
                {% include widgets/project_card.html %}
            </div>
        {% endif %}

        {% include widgets/contact_card.html %}
    </div>
</div>
