<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-project-diagram"></i> Projects</h6>
    <div class="px-3 pb-1 small">
        {% for project in site.data.projects %}
        <div class="media py-3 {% if forloop.first == false %}border-top border-gray{% endif %}">
            {% if project.image %}
            <img src="{{ project.image | relative_url }}" class="mr-3 rounded" style="max-width: 150px;" alt="{{ project.title }}">
            {% endif %}
            <div class="media-body">
                <h6 class="mt-0 mb-1">
                    {{ project.title }}
                </h6>
                <p>{{ project.description }}</p>
                {% if project.skills %}
                <div class="mt-2">
                    {% for skill in project.skills %}
                    <span class="badge badge-primary mx-1 my-1">{{ skill }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>